@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic');
@import 'normalize';
@import 'reset';
@import 'variables';
@import 'mixins';

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    background: $background;
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
  }

input,button {
    outline: none;
    border: none;
}  

header {
    width: 100%;
    background: $green;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #fff;
}

.header-wrapper {
    max-width: 1280px;
    height: 64px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .logo img {
     height: 42px;
     &:hover {
         opacity: .5;
         transition: .6s;
     }
 }

 .menu {
     display: flex;
 }

 .menu-item {
     display: flex;
     align-items: center;
     color: #fff;
     font-size: 12px;
     font-weight: bold;
     line-height: 14px;
     text-transform: uppercase;
     padding: 17px 16px 16px 23px;
     &:hover {
         background: rgba(0, 0, 0, 0.1);
         transition: .6s;
     }
 }

.menu-item_last {
    position: relative;
    padding: 17px 0 0 54px;
    &:hover {
        background: inherit;
    }
}

 .like {
     position: absolute;
     left: 25px;
     top: 15px;
 }

 .vector {
     margin: 0 4px 0 8px;
     width: 10px;
     height: 8px;
 }

 .submenu {
     display: none;
     position: absolute;
     left: 0;
     top: 64px;
     width: 100%;
     background: #fff;
     height: 96px;
 }
 
 #submenu-open:hover .submenu {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .submenu-item {
     display: flex;
     width: 115px;
     padding: 11px 0 12px 0;
     justify-content: center;
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
     color: #4f4f4f;
     &:hover {
         background: #ececec;
         transition: .6s;
     }
 }

 .wrapper-menu {
     display: none;
 }

 @media (max-width: 768px) {
     .menu {
         display: none;
     }

     .wrapper-menu {
        display: flex;
        width: 40px;
        text-align: center;
        height: 40px;
      }
    
      #check-menu{
        display: none;
      }
    
      label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        line-height: 40px;
        z-index: 0;
      }
    
      .burger-line{
        position: absolute;
        top: 24px;
        right: 20px;
        width: 20px;
        height: 2px;
        background-color: #fff;
        border: 1px #fff solid;
        border-radius: 1px;
        transition: .5s all;
      }
    
      .second, .third{
        top: 31px;
      }
    
      .fourth{
        top: 38px;
      }
    
      .main-menu{
        display: block;
        position: absolute;
        width: 100vw;
        left: 0;
        top: -171px;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
        background: #fff;
      }
    
      .main-menu-item{
        display: block;
        width: 100%;
        padding: 12px;
        color: #4f4f4f;
        text-decoration: none;
        &:hover {
          background: #ececec;
          transition: .6s;
        }
        &:last-child {
            color: #fff;
            background: $green;
            font-weight: bold;
        }
        &:nth-child(5) {
            color: #fff;
            background: $red;
            font-weight: bold;
        }
      }
    
      #check-menu:checked ~ .main-menu{
        max-height: calc(100vh - 64px);
        font-size: 14px;
        line-height: 16px;
      }
    
      #check-menu:checked ~ .first{
        display: none;
      }
    
      #check-menu:checked ~ .second{
        transform: rotate(45deg);
      }
    
      #check-menu:checked ~ .third{
        transform: rotate(-45deg);
      }
    
      #check-menu:checked ~ .fourth{
        display: none;
      }
    }

                // Banner
    
    .banner {
        width: 100%;
        background: url("../images/Home-bg.jpg") no-repeat;
        background-size: cover;
    }
    
    .banner-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        padding: 103px 20px 306px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        color: #fff;
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        text-align: center;
    }
    
    .find {
        padding-top: 41px;
    }

    .find-input {
        width: 400px;
        background: #fff;
        color: #828282;
        padding: 16px;
        &::placeholder {
            color: #828282;
        }
    }
    
    .find-country-input {
        width: 312px;
    }

    .button {
        padding: 16px 33px;
        font-weight: 700;
        color: #fff;
        background: $red;
        cursor: pointer;
        &:hover {
            @include hover-red-button;
        }
    }
@media (max-width: 870px) {
    .find {
        display: flex;
        flex-direction: column;
    }

    .find-input {
        width: 400px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
        line-height: 28px;
    }

    .find-input {
        width: 283px;
    }
}

@media (max-width: 320px) {
    .banner {
        background: url(../images/mob-home-bg.jpg) no-repeat;
    }

    .banner-wrapper {
        padding: 57px 20px 153px 20px;
    }
}

               // Services

.services-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

.servises-title {
    font-size: 36px;
    line-height: 46px;
    color: #4F4F4F;
    text-align: center;
}

.services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 903px;
    padding: 40px 20px 30px 20px;
}

.service {
    width: 271px;
    height: 231px;
    background: url(../images/Country.jpg);
    margin-bottom: 25px;
}

.country2 {
    background: url(../images/Country2.jpg);
}

.country3 {
    background: url(../images/Country3.jpg);
}

.country4 {
    background: url(../images/Country4.jpg);
}

.country5 {
    background: url(../images/Country5.jpg);
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.service-title {
    font-size: 24px;
    line-height: 28px;
}

.servises-title-320px {
    display: none;
}

.service-subtitle {
    line-height: 20px;
    text-align: center;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 860px) {
    .services-content {
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .servises-title {
        font-size: 24px;
        line-height: 31px;
        font-weight: 700;
    }
}

@media (max-width: 380px) {
    
    .service {
        width: 232px;
        height: 100px;
        background-size: cover;
        margin-bottom: 19px;
    }

    .services-wrapper {
        padding-top: 26px;
    }

    .country2,.country3,.country4,.country5 {
        background-size: cover;
    }

    .service-content {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .service-subtitle {
        display: none;
    }
}

.other-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1088px;
    padding: 52px 20px 44px 20px;
}

.specialty {
    max-width: 200px;
    background: #fff;
    color: $black;
    text-align: center;
    padding-bottom: 17px;
}

.specialty-pic {
    margin-bottom: 25px;
}

.specialty-title {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 21px;
}

.specialty-subtitle:hover {
    text-decoration: underline;
}

.specialty-pic-arrow {
    margin-top: 25px;
    &:hover {
        fill: $green;
    } 
}

@media (max-width: 1065px) {
    .other-services {
        justify-content: space-around;
    }

    .specialty {
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .services-content {
        padding-top: 24px;
        padding-bottom: 19px;
    }
    .servises-title-none {
        display: none;
    }

    .servises-title-320px {
        display: flex;
        color: #fff;
        background: #F4C900;
        padding-top: 27px;
        padding-bottom: 11px;
    }

    .other-services {
        background: #F4C900;
        padding-top: 10px;
        padding-bottom: 4px;
    }

    .specialty {
        width: 147px;
        background-color: #F4C900;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .specialty-pic {
        width: 147px;
        height: 147px;
        margin-bottom: 14px;
    }

    .specialty-subtitle {
        display: none;
    }

    .specialty-pic-arrow {
        display: none;
    }
}

           // Patient-info

.patient-info {
    width: 100%;
    background: $green;
}           

.patient-info-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 59px 0 56px 0;
}

.patient-info-title {
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    text-align: center;
}

.info-wrapper {
    width: 100%;
    max-width: 1032px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 47px 0 69px 0;
    margin: 0 auto;
}

.info {
    max-width: 231px;
    color: #fff;
}

.info-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #379D89;
    margin: 0 auto;
    margin-bottom: 32px;
}

.info-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.info-title,.info-description {
    text-align: center;
}

.registration-button {
    max-width: 318px;
    margin: 0 auto;
    padding: 12px 83px;
}

@media (max-width: 1060px) {
    .info-wrapper {
        justify-content: space-around;
        padding-left: 14px;
        padding-right: 14px; 
    }

    .info {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .patient-info-wrapper {
        padding: 30px 0;
    }

    .info-wrapper {
        padding: 25px 14px 35px 14px;
    }

    .info {
        padding-bottom: 10px;
    }

    .patient-info-title {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .patient-info {
        display: none;
    }
}

            // Benefits

.benefits {
    width: 100%;
    text-align: center;
}

.ofer-mobile {
    display: none;
}

.benefits-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 10px 82px 10px;
}

.benefits-title {
    font-size: 36px;
    line-height: 46px;
    color: $black;
    text-align: center;
    max-width: 770px;
}

.benefits-title div {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    background-color: $red;
    border-radius: 50%;
    margin-left: 10px;
}

.ofer-and-organizations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1091px;
    padding: 30px 10px;
}

.ofer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 419px;
    background-color: #fff;
    padding: 36px 33px 40px 33px;
}

.ofer-title {
    max-width: 264px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $green;
}

.ofer-benefits {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 34px;
}

.benefit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 19px;
}

.benefit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    background-color: $green;
    border-radius: 50%;
    margin-right: 21px;
}

.benefit-description {
    font-size: 18px;
    line-height: 21px;
    text-align: left; 
}

.ofer-button {
    padding: 12px 61px;
    background-color: $green;
    &:hover {
        background-color: #379D89;
        transition: .6s;
    }
}

.organizations {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 572px;
    padding-top: 10px;
}

.organization {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-right: 20px;
}

.organization-logo {
    margin-right: 16px;
}

.organization-name {
    width: 190px;
    text-align: left;
}
.benefits-note-wrapper {
    width: 100%;
    position: relative;
    padding:5px;
}

.benefits-note {
    display: flex;
    position: absolute;
    right: 89px;
    max-width: 568px;
    text-align: left;
}

.note-icon {
    display: inline-block;
    text-align: center;
    min-width: 16px;
    height: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-color: $red;
    border-radius: 50%;
    margin-right: 9px;
}

@media (max-width: 1060px) {

    .ofer-and-organizations {
        flex-direction: column;
        align-items: center;
    }
    .organizations {
        flex-direction: column;
        align-items: center;
    }

    .organization {
        padding-left: 10px;
        padding-bottom: 20px;
    }

}

@media (max-width: 850px) {
    .benefits-title {
        font-size: 24px;
        line-height: 34px;
    }
}

@media (max-width: 550px) {
    .benefits-title {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 419px) {
    .benefits {
        display: none;
    }

    .ofer-mobile {
        display: flex;
        flex-direction: column;
        padding: 37px 30px 27px 30px;
        text-align: center;
        background: $green;
    }

    .ofer-mobile-title {
        color: #fff;
        font-size: 24px;
        line-height: 31px;
        padding-bottom: 30px;
    }

    .ofer-button-mobile {
        display: block;
        background-color: $red;
        padding-left: 21px;
        padding-right: 21px;
        &:hover {
            @include hover-red-button;
        }
    }
}

       // Cooperation

.cooperation {
    width: 100%;
}       

.cooperation-wrapper {
    width: 100%;
    max-width: 1048px;
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cooperation-pic {
    min-width: 257px;
    height: 257px;
    background-color: #56CCF2;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.cooperation-pic img {
    position: absolute;
    bottom: -6px;
    right: 15px;
}

.cooperation-info {
    text-align: center;
    padding: 0;
}

.coperation-title {
    font-size: 18px;
    line-height: 21px;
    padding-top: 46px;
    padding-bottom: 20px;
}

.coperation-subtitle {
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 915px) {
    .cooperation {
        display: none;
    }
}

        // footer

footer {
    width: 100%;
    background: $black;
    color: #fff;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1050px;
    padding: 54px 10px 0 10px;
    margin: 0 auto;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 53px;
}

.call-us,.write-us {
    display: flex;
}

.phone-number {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    border: #56CCF2 1px solid;
    padding: 6px;
    border-radius: 30px;
    margin-right: 19px;
}

.slogan {
    max-width: 354px;
    font-size: 18px;
    line-height: 21px;
}

.button-write-us {
    padding: 12px 28px;
}

.social {
    display: flex;
    width: 38px;
    height: 40px;
    background-color: #4E75A0;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    &:hover {
        background-color: darken(#4E75A0, 10);
        transition: .6s;
    }
}

.social-fb {
    background-color: #395799;
    margin-left: 8px;
    &:hover {
        background-color: darken(#395799, 10);
        transition: .6s;
    }
}

@media (max-width: 860px) {
    .footer-contacts {
        flex-wrap: wrap;
    }

    .call-us {
        padding-bottom: 10px;
    }
}

@media (max-width: 580px) {
    .footer-wrapper {
        padding-top: 25px;
    }

    .call-us {
        flex-wrap: wrap;
    }
    
    .phone-number {
        margin-bottom: 10px;
    }
}